name: Deploy to VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 172.20.10.6
          username: user
          port: 22
          key: ${{ secrets.VM_SSH_KEY }}
          script: |
            /usr/local/bin/deploy_hello_phph.sh
