name: Deploy on VM (self-hosted)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy (pull latest on VM)
        run: |
          /usr/local/bin/deploy_hello_phph.sh
